// color
@color-background: #f4f4f4;
@color-text: #333;
@color-text-l: #666;

// 主色
@color-theme: #c66b44;
@color-theme-2: #576048;
//主色-亮色
@coler-theme-l: #e65712;
//主色-暗色
@color-theme-d: #e65712;

//size
@max-width: 1200px;
// @header-height: 107px;
@header-height: 71px;
@mobile-header-height: 60px;
@font-size-mini: 12px;
@font-size-s: 14px;
@font-size-m: 16px;
@font-size-l: 18px;
@font-size-xl: 20px;
@font-size-xxl: 25px;
@font-size-xxxl: 30px;

@bezier: cubic-bezier(0.72, 0.61, 0.82, 0.51);